@using AWS_Modas.Models.Objects
@model IEnumerable<Event>
@{
    ViewData["Title"] = "Home Page";
}
@ViewData.TryGetValue("Page", out var pageParam)
@int.TryParse(pageParam.ToString(), out var page)

@ViewData.TryGetValue("LastPage", out var lastPageParam)
@int.TryParse(lastPageParam.ToString(), out var lastPage)

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-3">Enjoy this list of 'real' events</h3>
    <table class="container table table-bordered">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
        </tr>
        @foreach (var e in Model)
        {
            <tr>
                <td>@($"{e.TimeStamp: ddd, MMM dd, yyyy}")</td>
                <td>@($"{e.TimeStamp: hh:mm tt}") </td>
                <td>@e.Location.Name</td>
            </tr>
        }
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            @if ((int) page == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1">Previous</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" asp-route="/$1">1</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route="/$Page@((int) page - 1)" tabindex="-1">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-route="/$Page@((int) page - 1)">@((int) page - 1)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link" asp-route="/$Page@((int) page)">@((int) page)</a>
            </li>
            @if ((int) page == (int) lastPage)
            {
                <li class="page-item">
                    <a class="page-link disabled">@((int) page + 1)</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route="/$@((int) page + 1)">@((int) page + 1)</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-route="/$@((int) page + 1)">Next</a>
                </li>
            }
        </ul>

    </nav>
</div>